<div class="datatable-padd col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!-- row for table header -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-lg-2 col-md-3 col-sm-4 pull-left">
                <span class="text-show">Show </span>
                <label>
                    <select class="form-control form-control-sm" (change)="onPerPageRecordsCountChange($event)" [(ngModel)]="perPageRecords">
                            <option *ngFor="let count of perPageCountDropdown" value="{{count}}">{{count}}</option>
                    </select>
                </label>
                <span> records</span>
            </div>
            <div class="pull-right pb-1">
                <button type="button" class="btn btn-secondary"><i class="fa fa-list"></i></button>
            </div>
            <div class="filter-block">
                <ul>
                    <li *ngFor="let column of columns">
                        <label><input type="checkbox" [(ngModel)]="column.visible"> {{column.header}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- row for table header ends-->

    <!-- table data -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><input type="checkbox" class="checkbox checkbox-primary"></th>
                            <ng-container *ngFor="let column of columns">
                                <th *ngIf="column.visible == true" id="{{column.value}}">
                                    <div style="float: left;">
                                        {{column.header}}
                                    </div>
                                    <div *ngIf="column.sort === true" style="float: right;">
                                        <i [className]="sortStatus[column.value].sortClass" aria-hidden="true" (click)="onSortStatusChange(column.value)"></i>
                                    </div>
                                </th>
                            </ng-container>
                            <th *ngIf="actions !== undefined && actions?.length > 0">Actions</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <ng-container *ngFor="let column of columns">
                                <th *ngIf="column.visible == true" id="{{column.value}}">
                                    <div *ngIf="column.search===true">
                                        <input class="form-control" style="display: block" type="text" placeholder="Search {{column.header}}" id="search_{{column.value}}" (keyup)="onSearch()" [(ngModel)]="searchTerms[column.value]">
                                    </div>
                                </th>
                            </ng-container>
                            <th *ngIf="actions !== undefined && actions?.length > 0"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="totalRecords > 0">
                        <tr *ngFor="let row of visibleRecords" (click)="emitRowClickEvent(tableData[row - 1])">
                            <td>{{row}}</td>

                            <td><input type="checkbox" class="checkbox checkbox-primary"></td>

                            <ng-container *ngFor="let column of columns">
                                <td *ngIf="column.visible">{{ tableData[row-1][column.value] }}</td>
                            </ng-container>

                            <td *ngIf="actions !== undefined && actions?.length > 0" style="text-align: center">
                                <button type="button" class="btn btn-secondary" *ngIf="actions.includes('EDIT')"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" *ngIf="actions.includes('DELETE')"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="totalRecords <= 0">
                        <tr style="text-align: center">
                            <td [attr.colspan]="columns.length + 2"> No Record Found </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- table data ends -->

    <!-- pagination and other footer controls -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <div class="col-sm-12 col-md-6 clear-padding">
                <span>Showing {{startRecord}} to {{endRecord}} of total {{totalRecords}} enteries</span>
            </div> -->
            <div class="clear-padding pull-right">
                <div *ngIf="totalPages > 1">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" [ngClass]="startPage > 1 ? 'not-disabled' : 'disabled'" id="prev" (click)="previousBlock()"><i class="fa fa-angle-double-left"></i></a></li>
                        <ng-container *ngFor="let item of pageArray">
                            <li class="page-item" [ngClass]="item == currentPage ? 'active' : ''" id="{{item}}" (click)="onPageChange(item)"><a class="page-link">{{item}}</a></li>
                        </ng-container>
                        <li class="page-item"><a class="page-link" [ngClass]="endPage < totalPages ? 'not-disabled' : 'disabled'" id="next" (click)="nextBlock()"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                    <div>
                        <span class="pull-right">Showing {{startPage}} to {{endPage}} of total {{totalPages}} pages</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination and other footer controls ends -->
</div>

<!--  -->