th:hover {
    cursor: pointer;
}

.datatable-padd {
    padding: 2%;
}

.perPageCount {
    padding: 0 0 1% 0;
}

.clear-padding {
    padding: 0% !important;
}

li a:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    background-color: #f5f5f5 !important
}

.not-disabled {}

.filter-block {
    padding: 1%;
    position: absolute;
    right: 15px;
    top: 50px;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0 0 5px #000
}

.filter-block ul {
    padding: 0 !important;
    margin: 0 !important;
}

.filter-block ul li {
    list-style: none;
}


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .filter-block {
        top: 95px;
    }
    .text-show {
        display: none;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .filter-block {
        top: 60px;
    }
}